<!--Just Noble Mittal Things @beingnoble03-->
<html>
<head>
  <link rel="shortcut icon" href="../../media/images/favicon.ico"/>
  {% block title %}
  <title>Library</title>
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Added Simple Notify -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script>
  {% load static %}
{% block style%}
{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Split It</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          {% block navbar %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'group-view' %}">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile-page' %}">Profile</a>
          </li>
          {% endblock %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Profile</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <table cellpadding = "4 px">
          <tr>
            <td>
              <img src="{{ picture.picture.url }}" style="width: 35px; height: 35px; border-radius: 50%;">
            </td>
            <td>
              {% if request.user.username != "admin" %}
             <b> {{ request.user.first_name }} </b>
              {% else %}
              Admin Bhai
              {% endif %}
            </td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" id = "logout-button">Log Me Out!</button>
            </td>
          </tr>
        </table>
        {% else %}
        <table cellpadding = "4 px">
          <tr>
            <td>
              <a href="{% url 'login-page' %}">
              <button class="btn btn-outline-success" type="button">Login</button>
            </a>
            </td>
            <td>
              <a href="{% url 'register-page' %}">
              <button class="btn btn-outline-success ml-4" type="button">Register</button>
            </a>
            </td>
          </tr>
        </table>
        {% endif %}
      </div>
    </div>
  </nav>
    <br>
    {% block content %}
    
    {% endblock %}
    <div class = "footer-my" style="position: fixed; bottom: 0px; text-align: center; width: 100%; background-color: rgba(7, 1, 1, 0.70);">
      <p class="text-center" style="color: seashell;margin-bottom: 5px; margin-top: 5px;">Made with ❤️ by <a style = "color:lightsalmon;" href="https://beingnoble03.github.io/">Noble Mittal</a></p>
    </div>
    <script>
      $("#logout-button").click(function() {
        new Notify ({
        status: 'error',
        title: 'Wait',
        text: 'Loging you out...',
        effect: 'slide',
        speed: 300,
        customClass: '',
        customIcon: '',
        showIcon: true,
        showCloseButton: false,
        autoclose: true,
        autotimeout: 2500,
        gap: 50,
        distance: 20,
        type: 3,
        position: 'right bottom'
        })
        $.ajax({
            url: "{% url 'logout-user' %}",
            method: "GET",
            data: {},
            success: function(data, status, xhr){
                if(data.logout === "yes"){
                        window.location.reload();
                } else {
                    alert("Error Occured!");
                }
            },
            error: function(xhr, status, err){
                alert("Some error occured");
            }

        })
    })
    const btn = document.querySelector('#submit-button')
    btn.addEventListener('click', () => {
      new Notify ({
        status: 'warning',
        title: 'Wait',
        text: 'Processing your request...',
        effect: 'slide',
        speed: 300,
        customClass: '',
        customIcon: '',
        showIcon: true,
        showCloseButton: false,
        autoclose: true,
        autotimeout: 2500,
        gap: 50,
        distance: 20,
        type: 2,
        position: 'right bottom'
      })
    })
    </script> 
</body>
</html>